<div class="container">
    <div class="row">
      <img src="{{currentUser.defaultImg}}" alt="profile picture" class='profilePicture'>
    </div>

    <div class="row">
    <p>Following: {{followingLength}}</p>
    <p>Followers: {{followerLength}}</p>
    </div>
</div>



{{#each posts}}

<p>{{this.user.username}}</p>
<img src="{{this.imgUrl}}" alt="" width="400" height="400">

{{/each}}