

<div class="container dashboard-container" >
  <div class="row">
    <div class="col-sm">
      <p>{{currentUser.username}}</p>
      <img src="{{currentUser.defaultImg}}" alt="profile picture" class='profilePicture'>      
    </div>
    <div class="col-sm data-down">
    <p>Following <br> {{followingLength}}</p>
    </div>
    <div class="col-sm data-down">
    <p>Followers <br> {{followerLength}}</p>
    </div>
  </div>

  <hr>
</div>



{{#each posts}}


<div class="each-post">


<div class="left-align">
<img src="{{this.user.defaultImg}}" alt="profile picture" class="post-default-image"> <span>{{this.user.username}}</span><br>
</div>

<img src="{{this.imgUrl}}" class="img-posts">

</div>

{{/each}}